<div class="row">

<div class="col-md-3">
<div class="card p-3">
<h6>Total Students</h6>
<h3>{{total_students}}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card p-3">
<h6>Total Revenue</h6>
<h3>₹ {{total_revenue}}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card p-3">
<h6>Pending Fees</h6>
<h3 style="color:red">₹ {{pending_fees}}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card p-3">
<h6>Overdue Students</h6>
<h3 style="color:red">{{overdue_students}}</h3>
</div>
</div>

</div>
