{% extends "layout.html" %}

{% block content %}

<h2>Dashboard</h2>

<div class="row">

<div class="col-md-3">
<div class="card text-white bg-primary mb-3">
<div class="card-body">
<h5>Total Students</h5>
<h3>{{ total_students }}</h3>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-white bg-success mb-3">
<div class="card-body">
<h5>Monthly Revenue</h5>
<h3>₹ {{ total_revenue }}</h3>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-white bg-warning mb-3">
<div class="card-body">
<h5>Classes Running</h5>
<h3>{{ total_classes }}</h3>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-white bg-info mb-3">
<div class="card-body">
<h5>Subjects</h5>
<h3>{{ total_subjects }}</h3>
</div>
</div>
</div>

</div>

{% endblock %}
