{% extends "layout.html" %}
{% block content %}

<h2>Fees</h2>

<table class="table table-bordered">

<tr>
<th>Name</th>
<th>Fee</th>
<th>Month</th>
<th>Pay</th>
</tr>

{% for s in students %}

<tr>

<td>{{s.name}}</td>

<td>{{s.monthly_fee}}</td>

<td>
<form method="POST" action="/pay_fee/{{s.id}}">
<input name="month" class="form-control" placeholder="Apr-2026" required>
</td>

<td>
<button class="btn btn-success">Pay</button>
</form>
</td>

</tr>

{% endfor %}

</table>

<hr>

<h4>History</h4>

<table class="table">

<tr>
<th>Student</th>
<th>Amount</th>
<th>Month</th>
</tr>

{% for f in fees %}

<tr>
<td>{{f.student_id}}</td>
<td>{{f.amount}}</td>
<td>{{f.month}}</td>
</tr>

{% endfor %}

</table>

{% endblock %}
