{% extends "layout.html" %}

{% block content %}

<h2>Student Management</h2>

<div class="card p-3 mb-4">

<h4>Add Student</h4>

<form method="POST" action="/add_student">

<div class="row">

<div class="col-md-3">
<label>Name</label>
<input class="form-control" name="name" required>
</div>

<div class="col-md-2">
<label>Class</label>
<select class="form-control" name="class">
<option>1st</option>
<option>2nd</option>
<option>3rd</option>
<option>4th</option>
<option>5th</option>
<option>6th</option>
<option>7th</option>
<option>8th</option>
<option>9th</option>
<option>10th</option>
<option>11th</option>
<option>12th</option>
</select>
</div>

<div class="col-md-2">
<label>Subject</label>
<select class="form-control" name="subject">
<option>All Subjects</option>
<option>Maths</option>
<option>Science</option>
<option>English</option>
<option>Phonics</option>
<option>Abacus</option>
</select>
</div>

<div class="col-md-2">
<label>Phone</label>
<input class="form-control" name="phone">
</div>

<div class="col-md-2">
<label>Monthly Fee</label>
<input class="form-control" name="monthly_fee">
</div>

<div class="col-md-1">
<label>&nbsp;</label>
<button class="btn btn-primary w-100">Add</button>
</div>

</div>

</form>

</div>

<div class="card p-3">

<h4>Student List</h4>

<table class="table table-striped">

<tr>
<th>Name</th>
<th>Class</th>
<th>Subject</th>
<th>Phone</th>
<th>Fee</th>
</tr>

{% for s in students %}

<tr>

<td>{{s.name}}</td>
<td>{{s.student_class}}</td>
<td>{{s.subject}}</td>
<td>{{s.phone}}</td>
<td>{{s.monthly_fee}}</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}
