{% extends "layout.html" %}

{% block content %}

<h1>Students</h1>

<div class="card">

<h3>Add Student</h3>

<form method="POST" action="/add_student">

Name<br>
<input name="name" required><br><br>

Class<br>
<select name="class">

<option>1st</option>
<option>2nd</option>
<option>3rd</option>
<option>4th</option>
<option>5th</option>
<option>6th</option>
<option>7th</option>
<option>8th</option>
<option>9th</option>
<option>10th</option>
<option>11th</option>
<option>12th</option>

</select><br><br>

Subject<br>
<select name="subject">

<option>All Subjects</option>
<option>Phonics</option>
<option>Abacus</option>

</select><br><br>

Phone<br>
<input name="phone"><br><br>

Monthly Fee<br>
<input name="fee"><br><br>

<button type="submit">Add Student</button>

</form>

</div>

<div class="card">

<h3>Student List</h3>

<table>

<tr>
<th>Name</th>
<th>Class</th>
<th>Subject</th>
<th>Phone</th>
<th>Fee</th>
</tr>

{% for s in students %}

<tr>
<td>{{s.name}}</td>
<td>{{s.student_class}}</td>
<td>{{s.subject}}</td>
<td>{{s.phone}}</td>
<td>{{s.monthly_fee}}</td>
</tr>

{% endfor %}

</table>

</div>

{% endblock %}
